.gambar-carosel{
    width: 70%;
}

.navbar{
    background-color: #0B64B8;
    border:  #0B64B8;
    color: white;
}

.tombol,#product{
    margin-top: -120px;
}

/* jumbotrom */
.jumbotron {
    height: 450px;
    background-color: #0B64B8;
    border-radius: 0 0 40px 40px;
    -webkit-border-radius: 0 0 40px 40px;
    -moz-border-radius: 0 0 40px 40px;
    -ms-border-radius: 0 0 40px 40px;
    -o-border-radius: 0 0 40px 40px;
    z-index: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.623);
    margin-top: -40px;
}

.slider {
    margin: 0 auto;
    border-bottom: 2px solid rgba(255, 255, 255, 0.425);
    width: 85%;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel-inner {
    height: 290px;
}

.item h1 {
    text-align: center;
    margin: 120px;
    color: white;
    font-weight: 600;
    font-size: 60px;
}
/*  */


/* list grid view css */
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
/* selesai grid list view */

.gambar1{
    weight:30px;
    height: 400px;
}

.gambarproduct1{
    width: 50%;
}

#produkdetail,#carts,#baris1,#baris2{
    color: #428bca;
    border-bottom: 1px solid #428bca;
}

#carts{
    font-size: 30px;
    font-weight: 600;
}

#total {
    color: #428bca;
    border-bottom: 1px solid #428bca;
    text-align: right;
    margin-bottom: 10px;
}

#price{
    border-bottom: 1px solid black;
}

#p{
    border-bottom: 1px solid black;
}

.total-input{
    border-bottom: 1px solid #428bca;
    margin-top: 40px;
}

.btn1{
    margin-top: 10px;
}

td,th{
    padding: 5px;
}

.table1{
    margin-bottom: 20px;
}
#ordernumber,.datainfo{
    color: #428bca;
    margin: 30px 0 30px 0;
    font-style: italic;
    font-size: 24px;
}

#csum{
    color: #428bca;
    border-bottom: 1px solid #428bca;
    font-weight: 700;
    font-size: 30px;
}

.table-two{
    color: #428bca;
    margin-bottom: 10px;
}

.contactus{
    margin-bottom: 10px;
    margin-top: 20px;
}

.image2{
    width: 100%;
}



footer{
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
